# Virtual environment  
.venv  

# Git  
.git  
*.env  

# Logs  
logs/  
*.log  

# Python cache  
__pycache__/  
*.pyc  
*.pyo  
*.pyd  

# Environment variables  
.env  
*.secret  

# Dependencies  
loadBalancerEnv
AgentTraining/tf_agents_env

loadBalancingAlgorithms/__pycache__

pip-log.txt  
pip-delete-this-directory.txt  

# Jupyter Notebook  
.ipynb_checkpoints  
prometheus-config.yml

commands.txt

# OS-specific  
.DS_Store  
Thumbs.db  
